    <!-- TEMPLATES -->
    <script type="text/template" id="user-login-actions-tmpl">
      <a class="menu-nav-link has-callout" title="Sign up" data-action="signup">Sign up</a>
      <a class="menu-nav-link has-callout" title="Sign in" data-action="login">Log in</a>
    </script>

    <script type="text/template" id="login-tmpl">
      <h2>Log In</h2>
      <div class="error" style="display:none"></div>
      <input type="text" id="login-username" placeholder="Username" />
      <input type="password" id="login-password" placeholder="Password" />
      <a title="Log in" class="btn" id="login-submit">Log In</a>
    </script>

    <script type="text/template" id="signup-tmpl">
      <h2>Sign Up</h2>
      <div class="error" style="display:none"></div>
      <input type="text" id="signup-username" placeholder="Username" />
      <input type="password" id="signup-password" placeholder="Create a Password" />
      <a title="Log in" class="btn" id="signup-submit">Sign Up</a>
    </script>

    <script type="text/template" id="user-nav-tmpl">
      <a title="User Welcome" class="menu-nav-link">Hello, <span class="user-first-name"></span>!</a>
      <a title="Sign out" class="menu-nav-link logout"><i class="icon-off"></i></a>
    </script>

    <script type="text/template" id="modal-tmpl">
      <div class="modal-header clearfix">
        <h1 class="modal-title"></h1>
        <a title="Close Modal" class="modal-close">
          <span class="modal-header-content-topright">
            <span class="icon-remove"></span>
          </span>
        </a>
      </div>
      <div class="modal-body">
      </div>
    </script>

    <script type="text/template" id="modal-back-btn-tmpl">
      <span class="modal-header-content-topleft">
        <span class="icon-arrow-left"></span>
      </span>
    </script>

    <script type="text/template" id="bike-event-options-tmpl">
      <div class="col6 bike-event-option theft table" data-event_type="theft">
        <a class="bike-event-options-link vertical-middle table-cell">
          <span class="bike-event-theft-icon"></span><br />
          Theft
        </a>
      </div>
      <div class="col6 last bike-event-option table" data-event_type="hazard">
        <a class="bike-event-options-link vertical-middle table-cell">
          <i class="icon-warning-sign"></i><br />
          Hazard
        </a>
      </div>
    </script>

    <script type="text/template" id="bike-event-form-tmpl">
      <div class="onerow clearfix hidden bike-event-theft">
        <div class="col6">
          <label for="bike-event-date">Date</label><br />
          <input type="date" id="bike-event-date" autocomplete="off" placeholder="MM/DD/YYYY" />
        </div>
        <div class="col6 last">
          <label for="bike-event-time">Time</label><br />
          <input type="text" id="bike-event-time" placeholder="7:30am" />
        </div>
      </div>
      <div class="onerow clearfix hidden bike-event-theft">
        <div class="col6">
          <label for="bike-event-bike-type">Bike Type</label><br />
          <input type="text" id="bike-event-bike-type" placeholder="Mountain, Hybrid, etc." />
        </div>
        <div class="col6 last">
          <label for="bike-event-bike-model">Bike Model</label><br />
          <input type="text" id="bike-event-bike-model" />
        </div>
      </div>
      <div class="onerow clearfix hidden bike-event-theft">
        <div class="col12">
          <label for="bike-event-bike-serial">Serial Number (private)</label><br />
          <input type="text" id="bike-event-bike-serial" />
        </div>
      </div>

      <div class="onerow clearfix hidden bike-event-hazard align-center">
        <div class="col6 bike-event-option traffic table">
          <a class="bike-event-options-link vertical-middle table-cell">
            <span class="bike-event-hazard-icon-traffic"></span><br />
            Traffic
          </a>
        </div>
        <div class="col6 last bike-event-option lane-closed table">
          <a class="bike-event-options-link vertical-middle table-cell">
            <span class="bike-event-hazard-icon-lane-closed"></span><br />
            Lane Closed
          </a>
        </div>
      </div>
      <div class="onerow clearfix hidden bike-event-hazard align-center">
        <div class="col6 bike-event-option accident table">
          <a class="bike-event-options-link vertical-middle table-cell">
            <i class="icon-rocket"></i><br />
            Accident
          </a>
        </div>
        <div class="col6 last bike-event-option other table">
          <a class="bike-event-options-link vertical-middle table-cell">
            <i class="icon-rocket"></i><br />
            Other
          </a>
        </div>
      </div>

      <div class="onerow clearfix hidden bike-event-theft bike-event-hazard">
        <div class="col12">
          <label for="bike-event-bike-notes">Notes</label><br />
          <textarea id="bike-event-bike-notes" style="width:95%"></textarea>
        </div>
      </div>

      <div class="onerow clearfix">
        <a title="Submit BikeCheck" class="bike-event-submit btn">Submit</a>
      </div>
    </script>

    <script type="text/template" id="bike-event-saved-tmpl">
      <div class="onerow clearfix">
        <div class="col12 align-center">
          <div class="bike-event-saved-text">
            Here&#39;s to not ending up<br />
            like this poor fellow:
          </div>
          <img src="/images/man_falling.jpg" alt="Man falling image. Source: Google images" />
          <a title="Log in" class="btn bike-event-saved-add">Add another BikeCheck</a>
          or <a title="Close Modal" class="modal-close-text">return to BikeCheck map</a>
        </div>
      </div>
    </script>

    <!-- LIBRARIES -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/lib/underscore.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.8.min.js"></script>
    <script src="/js/lib/drags.js"></script>

    <!-- APP RESOURCES -->
    <script src="/js/bike_check.js"></script>
    <script src="/js/models/bike_event.js"></script>
    <script src="/js/collections/bike_events.js"></script>
    <script src="/js/views/user_login_actions.js"></script>
    <script src="/js/views/log_in.js"></script>
    <script src="/js/views/sign_up.js"></script>
    <script src="/js/views/user_nav.js"></script>
    <script src="/js/views/modal.js"></script>
    <script src="/js/views/modal_back_button.js"></script>
    <script src="/js/views/bike_event_options.js"></script>
    <script src="/js/views/bike_event_new.js"></script>
    <script src="/js/views/bike_event_saved.js"></script>

    <% if (typeof(map) !== 'undefined' && map) { %>
      <script src="/js/views/map.js"></script>
    <% } %>

    <!-- APP INITIALIZATION -->
    <script src="/js/app.js"></script>
  </body>
</html>