<!DOCTYPE html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="public/stylesheets/lib/font-awesome.min.css" />
    <!-- [if lt IE 8]
      <link rel="stylesheet" type="text/css" href="public/stylesheets/lib/font-awesome-ie7.min.css" />
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <meta name="description" content="My Parse App">
    <meta name="viewport" content="width=device-width">
    <title><%= title %></title>
    <script src="public/js/lib/prefixfree.min.js"></script>
  </head>
  <body>