<% include header.html %>

<div id="bike-check">
  <div class="menu fixed-top clearfix">
    <div class="menu-inner onepcssgrid-1000 clearfix">

      <nav class="menu-nav pull-right">
        <div class="menu-nav-user table-row" style="line-height:1.4"></div>
        <div class="menu-login menu-nav-link-dropdown align-left">
          <div class="menu-login-inner table-row"></div>
        </div>
      </nav>

      <h1 class="menu-brand-container pull-left">
        <a class="menu-brand" title="BikeCheck logo">BikeCheck</a>
      </h1>

    </div>
  </div>


  <!-- <section class="main"></section>
    <div class="onepcssgrid-1000 clearfix">
      <section class="main-content"></section>
    </div>
  </section> -->

  <div id="map-canvas"></div>
</div>

<% include footer.html %>