<% include header.html %>
<!-- <script type="text/javascript">
      Parse.initialize("APPLICATION_ID", "JAVASCRIPT_KEY");

      var TestObject = Parse.Object.extend("TestObject");
      var testObject = new TestObject();
        testObject.save({foo: "bar"}, {
        success: function(object) {
          $(".success").show();
        },
        error: function(model, error) {
          $(".error").show();
        }
      });
    </script> -->
    <h1>BikeCheck son!</h1>


<% include footer.html %>