/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {

    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
      .menu-brand {
        width: 70px;
        height: 60px;
        background: url(/images/bikecheck_logo_mobile.png) no-repeat
      }

      .menu-login.active {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
      }

      .modal {
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        overflow: auto;
        margin: 0;
      }
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {

    }
